// // Specific CSS for your home-page
p {
  color: $dark-gray;
  font-size: 10px;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 106px 0px 46px;
  position: relative;
}
.logo_img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 57px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.three_steps {

  h3{
    color: $red;
    font-weight: 400;
  }
  .image{
    height: 200px;
    margin-bottom: 16px;
  }
  .pfont p{
    font-size: medium;
    color: $red;

  }
}

h3{
  color: $dark-gray;
  font-weight: 400;
}


.wrapper_home {
  display: grid;
  grid-template-columns: repeat(4, 1.6fr);
  grid-auto-rows: 45%;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
  margin: 36px;

  .costume-index-card {
    display: flex;
    flex-direction:column;
    width: 260px;
    height: 400px;
    padding: 8px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 34px;


    .costume-image-placeholder {
      height: 240px;
      background-color: rgb(213, 213, 213);
      border-radius: 24px;
      margin-bottom: 8px;
    }

    .costume-index-card-title {
      text-decoration: none;
      color: $dark-gray
    }

    .costume-index-card-text {
      font-size: 16px;
    }

    .costume-index-card-price {
      font-size: 20px;
      margin: 0 auto;
      justify-content: center;
    }

    .see-more {
      font-size: 16px;
      color: $blue;
    }
  }
}
