// Import page-specific CSS files here.
@import "home";


// COSTUME INDEX
.new-costume{
  background-color: $danger;
  font-size: 20px;
  color: white;
  text-align: center;
  height: 48px;
  border-radius: 16px;
  margin: 8px 32px;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1.6fr);
  grid-auto-rows: 45%;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
  margin: 36px;
  height: 900px;

  .costume-index-card {
    display: flex;
    flex-direction:column;
    width: 260px;
    height: 400px;
    padding: 8px;
    margin: auto;
    border-radius: 34px;
    position: relative;
    background-color: white;



    .costume-image-placeholder {
      height: 240px;
      background-color: rgb(213, 213, 213);
      border-radius: 24px;
      margin-bottom: 8px;
    }

    .costume-index-card-title {
      text-decoration: none;
      color: $dark-gray
    }

    .costume-index-card-text {
      font-size: 16px;
    }

    .costume-index-card-price {
      font-size: 20px;
      margin: 0 auto;
      justify-content: center;
      position: absolute;
      bottom: 16px;
      left: 20%;
    }

    .see-more {
      font-size: 16px;
      color: $blue;
    }
  }
}




//REQUEST INDEX
.request-filter-bar {
  display: flex;


  .navbar-lewagon {
    background-color: $light-gray;
    margin: 0 auto;
    width: 900px;
    height: 70px;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  .request-filter-buttons {
    text-decoration: none;
    border-radius: 16px;
    padding: 8px 16px;
    background-color: white;
    border: none;


  }
  .active {
    border: none;
    background-color: $danger;
    color: white;
  }


}


.request-card {
  height: 180px;
  border-radius: 34px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 1000px;
  margin: 0px auto;

  .request-card-head{
    height: 30px;
    border-radius: 34px 34px 0px 0px;
    background-color: $danger;
    padding: 8px 24px;
    p {
      font-size: 16px;
      color: white;
    }
  }

  .request-card-body {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .request-card-text {
      padding: 0px 16px;
      width: 600px;
      .request-index-card-title {
        text-decoration: none;
        color: $dark-gray
      }

      .request-index-card-text {
        font-size: 16px;
        width: 760px;
      }

      .see-more {
        font-size: 16px;
        color: $blue;
      }

      .request-index-card-price {
        font-size: 20px;
        justify-content: center;
        margin-top: 8px;
      }

    }
  }
  .request-card-buttons{
    width: 196px;

    justify-content: center;

    .request-accept{
      background-color: $danger;
      font-size: 20px;
      color: white;
      text-align: center;
      height: 48px;
      border-radius: 16px;
      margin: 8px;
      font-weight: 700;
      opacity: 50%;
    }

    .request-decline{
      background-color: #D9D9D9;

      font-size: 20px;
      color: white;
      text-align: center;
      height: 48px;
      border-radius: 16px;
      margin: 8px;
      font-weight: 700;
    }
  }
}
