.user-show-top {
  border-radius: 32px;
  box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;

  .right-profile-info {
    padding: 20px;
    p {
      font-size: 16px;
      margin: 8px;
    }
  }
}


.user-show-listings {
  margin-top: 40px;
}
