.show-left {
  background-color: white;
  width: 600px;
  height: 758px;
  padding: 20px;
  border-radius: 44px;


  .costume-show-image-primary {
    height: 560px;
    width: 560px;
    background-color: rgb(213, 213, 213);
    border-radius: 24px;
    margin-bottom: 20px;
  }

  .costume-show-image-secondary {
    height: 138px;
    width: 138px;
    border-radius: 24px;
    margin: 0px auto;
  }


}

.reviews{
  background-color: white;
  height: 400px;
  border-radius: 44px;
  padding: 20px;
  margin-top : 20px;
}

.review
 {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.review
 img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.review
 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.review
 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.review
 .review-infos {
  padding: 16px;
}

.show-right {

}
