<h1>index.html</h1>

  <div data-controller="requests">
    <div class="request-filter-bar">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <button data-action="click->requests#pending-display" class="request-filter-buttons"> Pending</button>
        <button data-action="click->requests#accepted-display" class="request-filter-buttons"> Accepted</button>
        <button data-action="click->requests#declined-display" class="request-filter-buttons"> Declined</button>
        <button data-action="click->requests#completed-display" class="request-filter-buttons"> Completed</button>
      </div>
    </div>

    <div data-requests-target="pending" style="display: block;">
      <%= render 'requests/pending', request: @requests %>
    </div>

    <div data-requests-target="accepted" style="display: none;">
      <%= render 'requests/accepted', request: @requests %>
    </div>

    <div data-requests-target="declined" style="display: none;">
      <%= render 'requests/declined', request: @requests %>
    </div>

    <div data-requests-target="completed" style="display: none;">
      <%= render 'requests/completed', request: @requests %>
    </div>

  </div>




</div>
