<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/home_banner.png);">
  <div class="container">
    <h1><strong>Constrade</strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-danger text-white" href="#">Apply now</a>
  </div>
</div>

<div class="container mt-5">

<p>Find me in app/views/pages/home.html.erb</p>



</div>
